@font-face{
	font-family: "Bitstream Vera Sans Mono";
	src: url(../fonts/VeraMono.eot?) format("ltIE9"),
		 url(../fonts/VeraMono.eot) format("embedded-opentype"),
		 url(../fonts/VeraMono.woff) format("woff"),
		 url(../fonts/VeraMono.ttf) format("truetype"),
		 url(../fonts/VeraMono.svg#Bitstream Vera Sans Mono) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Droid Serif";
	src: url(../fonts/DroidSerif-Regular.eot?) format("ltIE9"),
		 url(../fonts/DroidSerif-Regular.eot) format("embedded-opentype"),
		 url(../fonts/DroidSerif-Regular.woff) format("woff"),
		 url(../fonts/DroidSerif-Regular.ttf) format("truetype"),
		 url(../fonts/DroidSerif-Regular.svg#Droid Serif) format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: "Droid Serif";
}

h1, h2, h3, h4, h5, h6 {
  color: #0B2E59;
}
h1 {
  font-size: 2.15em;
}
h2 {
  font-size: 1.85em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}

code,
pre code {
  font-family: "Bitstream Vera Sans Mono";
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.navbar-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  background-image: -moz-linear-gradient(top, #f1a154, #e47327);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1a154), to(#e47327));
  background-image: -webkit-linear-gradient(top, #f1a154, #e47327);
  background-image: -o-linear-gradient(top, #f1a154, #e47327);
  background-image: linear-gradient(to bottom, #f1a154, #e47327);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1a154', endColorstr='#ffe47327', GradientType=0);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0px 3px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0px 3px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0px 3px 0 rgba(0, 0, 0, 0.14);
}

.navbar .brand {
  font-family: "Caviar Dreams";
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.navbar .nav>li>a {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.content {
  margin-top: 60px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.navbar .nav {
  float: right;
}

.page-header {
  border-bottom: none;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px;
}

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em;
}

.post > .more {
  margin: 10px 0;
  text-align: left;
}

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}
  
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  z-index: 3;
  font-family: "Caviar Dreams";
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background-image: -moz-linear-gradient(top, #81e654, #74cb27);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#81e654), to(#74cb27));
  background-image: -webkit-linear-gradient(top, #81e654, #74cb27);
  background-image: -o-linear-gradient(top, #81e654, #74cb27);
  background-image: linear-gradient(to bottom, #81e654, #74cb27);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff81e654', endColorstr='#ff74cb27', GradientType=0);
}

footer .contact {
  float: left;
  margin-right: 3em;
}

footer .contact > a {
  color: #ffffff;
}